{% extends 'base.html.twig' %}

{% block title %}JoviKart GS
{% endblock %}

{% block body %}
	<h1 class="text-center text-uppercase my-5">
		Application de gestion de stock JoviKart
	</h1>

	<div class="text-center">
		<img class="rounded-3 img-fluid" src="{{ asset('images/diego-gavilanez-7yC3NZyn3OQ-unsplash.jpg')}}" alt="Photo de Diego Gavilanez sur Unsplash" width="50%">
	</div>


{% endblock %}
