{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1 class="my-4 text-uppercase text-center">Modifier utilisateur</h1>

	{{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_users_index') }}" class="btn btn-primary">Retour à la liste des utilisateurs</a>

	{{ include('users/_delete_form.html.twig') }}
{% endblock %}
