{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur
{% endblock %}

{% block body %}
	<h1 class="my-4 text-uppercase text-center">Ajouter un utilisateur
	</h1>

	{{ include('users/_form.html.twig') }}

	<a href="{{ path('app_users_index') }}" class="btn btn-primary">retour</a>
{% endblock %}
