<form method="post" action="{{ path('app_item_delete', {'id': item.id}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer cette article?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
	<button class="my-2 btn btn-danger">Supprimer</button>
</form>
